doctype html
html
  head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(http-equiv="refresh" content="120")
    link(href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/default.css" rel="stylesheet")
    title!=title
    link(REL='SHORTCUT ICON' href='https://snowblossom.org/snow-icon.png')
    style(type="text/css").
      .hostname {color:#2f2f4f;font-size: 22px;line-height: 50px;}
      h2 {color: #0066cc;font-size: 32px;}
  body
    div(id="wrapper")
       div(id="top-bar")
       div(id="page-wrapper")
         - var poolhash = /\d+.\d+[K|M]?\/s/.exec(report.poolhash)
         mixin infobox(icon, title, value)
             div(class="col-lg-3 col-sm-4")
               div(class="infoBox hoverExpandEffect")
                 div(class="icon")
                   span(class=icon) 
                 div(class="content")
                   div(class="text")
                     span= title
                   div(class="value")
                     span= value
         mixin card(title, info, ...heads)
           div(class="card")
             div(id="top10miners" class="table-responsive")
               h2= title
               table(class="table table table-striped")
                 thead
                   tr
                     each item in heads
                       th(class="col2 sort")
                         span= item
                 tbody
                   each item in info
                     tr
                       each val in item
                         td(class="col2 sort")
                           if !isNaN(val)
                             - var shares=Number(val).toFixed(0)
                             span= shares
                           else if !/^5-min: /.test(val)
                             span
                               a(target= "_blank" href="https://explorer.snowblossom.org/?search=" + val)= val
                           else
                             span= val
         div(id="page")
           h1  SnowBlossom Pool
           div(id="section")
              span(class="hostname") pool_host=snow.cnpool.vip
           div(id="poolStats" class="row")
             +infobox("fa fa-arrows", "矿池算力", poolhash)
             +infobox("fa fa-cubes", "已发现区块（最近1000 Block）", report.blockfound.length)
             +infobox("fa fa-unlock-alt", "难度", report.difficulty)
             +infobox("fa fa-usd", "在线矿机", report.workers)
             +infobox("fa fa-cog", "全网算力", report.networkhash)
             +infobox("fa fa-bars", "区块高度", report.blockheight)
             +infobox("fa fa-snowflake-o", "雪地狂欢", report.snowfield)
             +infobox("fa fa-btc", "雪地狂欢", report.poolfee)
           +card("Active Accounts", report.hashrate, "Account", "HashRate")
           +card("Account Shares", report.share, "Account", "Shares")
           +card("Pool Blocks", report.blockfound, "BlockHash", "Height")
    footer
      div(class="text-muted")
         span Powered by 
             a(target="_blank" href="http://www.cnpool.vip")
                i(class="fa fa-snowflake-o")
                span  www.cnpool.vip 泥巴池 
                i(class="fa fa-snowflake-o")
